@charset "utf-8";
body{
    background-color: #EAEAEA;
    position: relative;
}
.box{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6) !important;
    position: absolute;
    left: 0;top: 0;
    z-index: 10;
    display: none;
}
header .top{
    width: 100%;
    height: 2.55rem;
    line-height: 2.55rem;
    color:#000000;
    border-bottom: 2px solid #EAEAEA;
    padding-left: .85rem;
    padding-right: .85rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
}
header .top .p1{
    font-size: .85rem;
    margin-left: .75rem;
}
header .top .p2{
    font-size: .85rem;
    margin-left: 5rem; 
}
header .top .p1 a{
    color:#000000;
}
.content{
    padding-left: .85rem;
    padding-right: .85rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding-top: 1rem;
}
.content .top .img{
    width: 4rem;
    height: 4rem;
    margin-right: .75rem;
}
.content .top .img img{
    width: 100%;
    height: 100%;
}
.content .top ul{
    width: 66%;
}
.content .top ul li{
    height: 1.825rem;
    border-bottom: 2px solid #EAEAEA;
}
.content .top ul li:nth-child(2){
    border-bottom: none;
}
.content .top ul li span{
    font-size: .75rem;
    color:#333333;
    line-height: 1.825rem;
}
.content .top ul li input{
    font-size: .65rem;
    color:#999999; 
    line-height: 1.825rem;
    width: 4rem;
    text-align: right;
    margin-right: .65rem;
}
.content>p{
    width: 100%;
    height: 2.75rem;
    margin-bottom: .55rem;
}
.content>p span{
    font-size: .75rem;
    color:#333333;
    line-height: 2.75rem;
}
.content>p a{
    font-size: .65rem;
    color:#999999; 
    line-height: 2.75rem;
    width: 5rem;
    text-align: right;
    margin-right: .65rem;
    display: block;
}
.content .bottom ul li{
    width: 100%;
    height: 2.5rem;
    border-bottom: 2px solid #EAEAEA;
}
.content .bottom ul li:nth-child(5){
    border-bottom:none;
}
.content .bottom ul li span{
    font-size: .75rem;
    line-height: 2.5rem;
}
.content .bottom ul li input{
    line-height: 2.5rem;
    width: 4rem;
    text-align: right;
    margin-right: .45rem;
    color:#999999;
}
.content2{
    padding-left: .85rem;
    padding-right: .85rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin-top: .55rem;
}
.content2 p{
    height: 2.75rem;
    font-size: .75rem;
    color:#333333;
    line-height: 2.75rem;
}
.content2 textarea{
    width: 100%;
    color:#999999;
    font-size: .65rem;
}
.content3{
    width: 80%;
    height: 15.5rem;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 10%;
    position: absolute;
    left: -3%;top: 20%;
    display: none;
    z-index: 20;
}
.content3 .p1{
    height: 3.1rem;
    font-size: .85rem;
    color:#333333;
    line-height: 3.1rem;
    text-align: center;
    border-bottom: 2px solid #E3E3E3;
}
.content3 .p2{
    height: 2.55rem;
    font-size: .65rem;
    color:#999999;
    text-align: center;
    line-height: 2.55rem;
    border-bottom: 2px solid #E3E3E3;
}
.content3 .p2 input{
    display: inline-block;
    width: 48%;
    height: 2.55rem;
    color:#999999;
    text-align: center;
    border-right: 2px solid #E3E3E3;
}
.content3 .p2 input:nth-child(2){
    border-right:none;
}
.content3 .p3{
    height: 2.8rem;
    border-bottom: 2px solid #E3E3E3;
}
.content3 .p3 span{
    font-size: .65rem;
    line-height: 2.8rem;
    padding-left: .55rem;
}
.content3 .p3 a{
    font-size: .75rem;
    color:#666666;
    line-height: 2.8rem;
    padding-right: .95rem;
}
.content3 .p4{
    height: 3.55rem;
    border-bottom: 2px solid #E3E3E3;
    font-size: .65rem;
    color:#999999;
    line-height: 3.55rem;
    padding-left: .55rem;
}
.content3 .p5{
    height: 2.3rem;
    background-color: #DD3E34;
    font-size: .75rem;
    color:#FFFFFF;
    margin-left: .8rem;
    margin-right: .8rem;
    line-height: 2.3rem;
    text-align: center;
    border-radius: 7px;
    margin-top: .5rem;
}
.content3 .p5 a{
    color:#FFFFFF;
}
.content4{
    width: 100%;
    height: 7.5rem;
    background-color: #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    left: 0;bottom: 0;
    display: none;
}
.content4 .p1{
    height: 2.55rem;
    background-color: #F2F2F2;
    border-radius: 5px;
    font-size: .75rem;
    line-height: 2.55rem;
    padding-left: .75rem;
    padding-right: .75rem;
}
.content4 .p1 a{
    color: #DF5249;
}
.content4 .center{
    padding-left: .85rem;
    height: 3rem;
    border-bottom: 2px solid #E3E3E3;
}
.content4 .center select{
    margin-right: 2rem;
    line-height: 3rem;
}