@charset "utf-8";
header .top{
    width: 100%;
    height: 2.55rem;
    line-height: 2.55rem;
    color:#000000;
    border-bottom: 2px solid #EAEAEA;
}
header .top .p1{
    font-size: .85rem;
    margin-left: .75rem;
}
header .top .p2{
    font-size: .85rem;
    margin-left: 5rem; 
}
header .top .p1 a{
    color:#000000;
}
.content{
    width: 100%;
    padding-left: .8rem;
    padding-right: .8rem;
    box-sizing: border-box;
}
.content ul li{
    height: 3.25rem;
    border-bottom: 2px solid #EAEAEA;
    line-height: 3.25rem;
}
.content ul li span{
    font-size: .75rem;
    color:#333333; 
}
.content ul li input{
    font-size: .7rem;
    color:#999999; 
    line-height: 3.25rem;
    width: 5.5rem;
}
.content ul li a{
    display: inline-block;
    width: 4.8rem;
    height: 1.5rem;
    background-color: #FFFFFF;
    border: 2px solid #DD3E34;
    line-height: 1.5rem;
    text-align: center;
    font-size: .65rem;
    color:#DD3E34;
    border-radius: 4px;
    margin-top: .8rem;
}
.content p{
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    background-color: #DD3E34;
    border-radius: 7px;
    font-size: .85rem;
    color:#FFFFFF;
    text-align: center;
    line-height: 2.5rem;
    margin-top: 1.65rem;
}
.content p a{
    color:#FFFFFF;
}
.content  .li1{
    position: relative;
}
.content  .li1 a{
    position: absolute;
    right: 0;top: 5%;
    display: block;
}
.content  .li1 .a2{
    display: none;
}