@charset "utf-8";
body{
    background-color: #F3F3F3;
}
header{
    height: 8.9rem;
    width: 100%;
    background-color: #FFFFFF;
}
header .top{
    height: 2.55rem;
    line-height: 2.55rem;
    color:#000000;
    margin-bottom: .55rem;
    border-bottom: 2px solid #F3F3F3;
}
header .top .p1{
    font-size: .85rem;
    margin-left: .75rem;
}
header .top .p2{
    font-size: .85rem;
    margin-left: 5rem; 
}
header .top .p1 a{
    color:#000000;
}
header .bottom{
    padding-left: .65rem;
    padding-right: .65rem;
    box-sizing: border-box;
}
header .bottom ul li{
    height: 2.6rem;
    border-bottom: 2px solid #E8E8E8;
}
header .bottom ul li:nth-child(2){
    border-bottom: none;
}
header .bottom ul li span{
    font-size: .75rem;
    color:#333333;
    line-height: 2.6rem;
}
header .bottom ul li a{
    font-size: .65rem;
    color:#333333;
    line-height: 2.6rem;
}